<form method="post" action="{{ path('app_backend_unidades_delete', {'id': unidade.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unidade.id) }}">
    <button class="btn">Delete</button>
</form>
