{% extends 'base.html.twig' %}

{% block title %}Edit Unidades{% endblock %}

{% block body %}
    <h1>Edit Unidades</h1>

    {{ include('backend/unidades/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backend_unidades_index') }}">back to list</a>

    {{ include('backend/unidades/_delete_form.html.twig') }}
{% endblock %}
