{% extends 'backend/layout/main.html.twig' %}

{% block title %}User index{% endblock %}
{% block page_title %}User index{% endblock %}
{% block page_description %}...{% endblock %}

{% block page_content %}
    <h1>Unidades index</h1>

    <table id='unidades' class="table">
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>Clues</th>
                <th>NombreUnidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unidade in unidades %}
            <tr>
                <td>{{ unidade.id }}</td>
                <td>{{ unidade.clues }}</td>
                <td>{{ unidade.nombreUnidad }}</td>
                <td>
                    <a href="{{ path('app_backend_unidades_show', {'id': unidade.id}) }}" button type="button" class="btn btn-info fa-sharp fa-solid fa-eye"></a>
                    <a href="{{ path('app_backend_unidades_edit', {'id': unidade.id}) }}" button type="button" class="btn btn-primary fa-sharp fa-solid fa-pen-to-square"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="24">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backend_unidades_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ntable.js') }}" type="text/javascript"></script>  
    <script src="{{ asset('js/tabled.js') }}" type="text/javascript"></script>
{% endblock %}
