{% extends 'base.html.twig' %}

{% block title %}New Unidades{% endblock %}

{% block body %}
    <h1>Create new Unidades</h1>

    {{ include('backend/unidades/_form.html.twig') }}

    <a href="{{ path('app_backend_unidades_index') }}">back to list</a>
{% endblock %}
