{% extends 'base.html.twig' %}

{% block title %}Unidades{% endblock %}

{% block body %}
    <h1>Unidades</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unidade.id }}</td>
            </tr>
            <tr>
                <th>Acreditada</th>
                <td>{{ unidade.acreditada }}</td>
            </tr>
            <tr>
                <th>Altura</th>
                <td>{{ unidade.altura }}</td>
            </tr>
            <tr>
                <th>Calle</th>
                <td>{{ unidade.calle }}</td>
            </tr>
            <tr>
                <th>Clues</th>
                <td>{{ unidade.clues }}</td>
            </tr>
            <tr>
                <th>CodigoPostal</th>
                <td>{{ unidade.codigoPostal }}</td>
            </tr>
            <tr>
                <th>CorreoUnidad</th>
                <td>{{ unidade.correoUnidad }}</td>
            </tr>
            <tr>
                <th>Empleado</th>
                <td>{{ unidade.empleado }}</td>
            </tr>
            <tr>
                <th>EstadoUnidad</th>
                <td>{{ unidade.estadoUnidad }}</td>
            </tr>
            <tr>
                <th>FechaActualizacion</th>
                <td>{{ unidade.fechaActualizacion ? unidade.fechaActualizacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaInicioConstruccion</th>
                <td>{{ unidade.fechaInicioConstruccion }}</td>
            </tr>
            <tr>
                <th>FechaInicioOperacion</th>
                <td>{{ unidade.fechaInicioOperacion }}</td>
            </tr>
            <tr>
                <th>Latitud</th>
                <td>{{ unidade.latitud }}</td>
            </tr>
            <tr>
                <th>Longitud</th>
                <td>{{ unidade.longitud }}</td>
            </tr>
            <tr>
                <th>MarcacionInterna</th>
                <td>{{ unidade.marcacionInterna }}</td>
            </tr>
            <tr>
                <th>NombreUnidad</th>
                <td>{{ unidade.nombreUnidad }}</td>
            </tr>
            <tr>
                <th>NombreUnidadCredencial</th>
                <td>{{ unidade.nombreUnidadCredencial }}</td>
            </tr>
            <tr>
                <th>Telefono1</th>
                <td>{{ unidade.telefono1 }}</td>
            </tr>
            <tr>
                <th>Telefono2</th>
                <td>{{ unidade.telefono2 }}</td>
            </tr>
            <tr>
                <th>TipologiaUnidad</th>
                <td>{{ unidade.tipologiaUnidad }}</td>
            </tr>
            <tr>
                <th>TotalCamas</th>
                <td>{{ unidade.totalCamas }}</td>
            </tr>
            <tr>
                <th>TotalConsultorios</th>
                <td>{{ unidade.totalConsultorios }}</td>
            </tr>
            <tr>
                <th>Localidad</th>
                <td>{{ unidade.localidad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_unidades_index') }}">back to list</a>

    <a href="{{ path('app_backend_unidades_edit', {'id': unidade.id}) }}">edit</a>

    {{ include('backend/unidades/_delete_form.html.twig') }}
{% endblock %}
