<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="{{ path('app_backend_default') }}"><img src="{{asset('images/ssa.png')}}" alt="Logo" style="width: 200px; height: 50px" srcset=""></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">   
                <li class="sidebar-item  ">
                    <a href="{{ path('app_logout') }}" class="sidebar-link">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <span>Salir</span>
                    </a>
                </li>
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="fa-solid fa-lock"></i>
                        <span>Seguridad</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="{{ path('app_backend_user_index') }}">Usuarios</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="fa-solid fa-table-list"></i>
                        <span>Catálogos</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="{{ path('app_backend_jurisdicciones_index') }}"><i class="fa-sharp fa-solid fa-building"></i>Jurisdicciones</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="{{ path('app_backend_municipios_index') }}">Municipios</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="{{ path('app_backend_unidades_index') }}">Unidades</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="{{ path('app_backend_turno_index') }}">Turnos</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="{{ path('app_backend_ttrabajador_index') }}">Categorias</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="{{ path('app_backend_perfil_index') }}">Perfiles</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="fa-solid fa-users"></i>
                        <span>Plantilla</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="{{ path('app_backend_trabajador_index') }}">
                                <i class="fa-solid fa-hospital-user"></i>
                                <span>Departamento de Trabajo Social</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item  has-sub">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <span>Reportes</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="{{ path('app_backend_trabajador_juris') }}">
                                <i class="fa-solid fa-hospital-user"></i>
                                <span>Turnos por Jurisdicciones</span>
                            </a>
                        </li>
                    </ul>
                </li>
           </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>