{% extends 'base.html.twig' %}
{% block body %}
<div id="app">
    {{ include('backend/layout/_menu.html.twig')}}
    <div id="main" class='layout-navbar'>
        {{ include('backend/layout/_header.html.twig')}}
        <div id="main-content">

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3> {% block page_title %}Vertical Layout with Navbar{% endblock %} </h3>
                            <p class="text-subtitle text-muted"> {% block page_description %} Administración Principal.{% endblock %} </p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ path('app_backend_default') }}">Inicio</a></li>
                                    {% block breadcrumb_items %}
                                    
                                    {% endblock %}
                    
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">
                        {# <div class="card-header">
                            <h4 class="card-title">Example Content</h4>
                        </div> #}
                        <div class="card-body">
                            {% block page_content %}{% endblock %}
                        </div>
                    </div>
                </section>
            </div>

            {{ include('backend/layout/_footer.html.twig')}}
        </div>
    </div>
</div>



{% endblock %}