{% extends 'backend/layout/main.html.twig' %}

{% block title %}inicio{% endblock %}
{% block page_title %}Administración{% endblock %}
{% block page_content %}

<p>
    Para acceder a la plantilla de trabajadores y realizar altas, modificaciones, eliminaciones, se debe acceder al menu de la izquierda y desplegar alguno de los submenus. Los catalogos estan definidos, pero pueden hacerse si asi se requiere modificacines o agregar algún dato que pudiera hacer falta.
</p>
{% endblock %}
