<form method="post" action="{{ path('app_backend_perfil_delete', {'id': perfil.id}) }}" onsubmit="return confirm('Esta seguro de borrar el registro');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ perfil.id) }}">
    <button class="btn btn-danger">eliminar</button>
</form>
