{% extends 'backend/layout/main.html.twig' %}

{% block title %}Editar Perfil{% endblock %}
{% block page_title %}Editar Perfil{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <h1></h1>
    {{ include('backend/perfil/_form.html.twig', {'button_label': 'actualizar'}) }}
    <a href="{{ path('app_backend_perfil_index') }}" button type="button" class="btn btn-info">volver</a>
    {{ include('backend/perfil/_delete_form.html.twig') }}
{% endblock %}
