{% extends 'backend/layout/main.html.twig' %}


{% block title %}Nivel Academico{% endblock %}
{% block page_title %}Listado de Grado Academico{% endblock %}
{% block page_description %}Grado Academico{% endblock %}

{% block page_content %}
    <a href="{{ path('app_backend_perfil_new') }}" button type="button" class="btn btn-success">Nuevo</a><h2></h2>
    <h1>Grado Academico</h1>
    
    <table id="perfiles" class="table table-striped table-bordered">
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>Perfil</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for perfil in perfils %}
            <tr>
                <td>{{ perfil.id }}</td>
                <td>{{ perfil.nombrePerfil }}</td>
                <td>
                    <a href="{{ path('app_backend_perfil_show', {'id': perfil.id}) }}" button type="button" class="btn btn-info fa-sharp fa-solid fa-eye"></a>
                    <a href="{{ path('app_backend_perfil_edit', {'id': perfil.id}) }}" button type="button" class="btn btn-primary fa-sharp fa-solid fa-pen-to-square"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

{% endblock %}

{% block javascripts %}
      
    {{ parent() }}
    <script src="{{ asset('js/ntable.js') }}" type="text/javascript"></script>  
    <script src="{{ asset('js/tabled.js') }}" type="text/javascript"></script>
    
{% endblock %}