{% extends 'backend/layout/main.html.twig' %}

{% block title %}Nuevo Perfil{% endblock %}
{% block page_title %}Agregar perfil{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <h1></h1>

    {{ include('backend/perfil/_form.html.twig') }}

    <a href="{{ path('app_backend_perfil_index') }}" button type="button" class="btn btn-info">back to list</a>
{% endblock %}
