{% extends 'backend/layout/main.html.twig' %}

{% block title %}Perfiles{% endblock %}
{% block page_title %}Perfiles{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <h1></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ perfil.id }}</td>
            </tr>
            <tr>
                <th>NombrePerfil</th>
                <td>{{ perfil.nombrePerfil }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_perfil_index') }}" button type="button" class="btn btn-info">volver</a>

    <a href="{{ path('app_backend_perfil_edit', {'id': perfil.id}) }}" button type="button" class="btn btn-info">editar</a>

    {{ include('backend/perfil/_delete_form.html.twig') }}
{% endblock %}
