<form method="post" action="{{ path('app_backend_turno_delete', {'id': turno.id}) }}" onsubmit="return confirm('Esta seguro de borrar el registro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ turno.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
