{% extends 'backend/layout/main.html.twig' %}

{% block title %}Editar Turno{% endblock %}
{% block page_title %}Edicion de Turno{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <h1></h1>

    {{ include('backend/turno/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_backend_turno_index') }}" button type="button" class="btn btn-info">volver</a>

    {{ include('backend/turno/_delete_form.html.twig') }}
{% endblock %}
