{% extends 'backend/layout/main.html.twig' %}

{% block title %}Turnos{% endblock %}
{% block page_title %}Turnos{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <a href="{{ path('app_backend_turno_new') }}" button type="button" class="btn btn-success">Nuevo</a>
    <h1></h1>
    <table id="turnos" class="table">
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>Turno</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for turno in turnos %}
            <tr>
                <td>{{ turno.id }}</td>
                <td>{{ turno.nombreTurno }}</td>
                <td>
                    <a href="{{ path('app_backend_turno_show', {'id': turno.id}) }}" button type="button" class="btn btn-info fa-sharp fa-solid fa-eye"></a>
                    <a href="{{ path('app_backend_turno_edit', {'id': turno.id}) }}" button type="button" class="btn btn-primary fa-sharp fa-solid fa-pen-to-square"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Sin registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ntable.js') }}" type="text/javascript"></script>  
    <script src="{{ asset('js/tabled.js') }}" type="text/javascript"></script>
{% endblock %}