{% extends 'backend/layout/main.html.twig' %}
{% block title %}Turnos{% endblock %}
{% block page_title %}Departamento de Trabajo Social{% endblock %}
{% block page_description %}Reporte de Turnos{% endblock %}

{% block page_content %}
    <table id='tjuris' class="table table-striped table-bordered">
        <thead>
            <tr class="table-info">
                <th>No.</th>
                <th>Jurisdiccion</th>
                <th>Turno</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for resul in resuls %}
                <tr>
                    <td></td>
                    <td>{{ resul.Nombre }}</td>
                    <td>{{ resul.nombre_turno }}</td>
                    <td>{{ resul.cantidad }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ntable.js') }}" type="text/javascript"></script>  
    <script src="{{ asset('js/tabled.js') }}" type="text/javascript"></script>
{% endblock %}