{% extends 'backend/layout/main.html.twig' %}

{% block title %}nuevo turno{% endblock %}
{% block page_title %}Registrar Nuevo Turno{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <h1></h1>

    {{ include('backend/turno/_form.html.twig') }}

    <a href="{{ path('app_backend_turno_index') }}" button type="button" class="btn btn-info">volver</a>
{% endblock %}
