{% extends 'backend/layout/main.html.twig' %}

{% block title %}Ver Turnos{% endblock %}
{% block page_title %}Turnos{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <h1></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ turno.id }}</td>
            </tr>
            <tr>
                <th>Turno</th>
                <td>{{ turno.nombreTurno }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_turno_index') }}" button type="button" class="btn btn-info">volver</a>

    <a href="{{ path('app_backend_turno_edit', {'id': turno.id}) }}" button type="button" class="btn btn-info">editar</a>

    {{ include('backend/turno/_delete_form.html.twig') }}
{% endblock %}
