{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{# ... #}
    
{% block body %}    
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container">
        <div class="abs-center">
            
            <div class="border border-primary p-3 form">
                <form action="{{ path('login') }}" method="post" role="form">
            
                    <div class="form-group">
                        <img src="{{ asset('images/login/logo_ssa.jpeg')}}" class="img-fluid rounded mx-auto d-block">
                    </div>
                    
                    <div>
                        <h1 class="text-center">Trabajo Social</h1>
                        <h2 class="text-center">Iniciar Sesión</h2>
                    </div>

                    <div class="form-group">
                        <label for="username">Correo Electronico:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" autofocus="autofocus"/>
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" id="password" name="_password" class="form-control"/>
                    </div>
                   {# If you want to control the URL the user is redirected to on success
                    <input type="hidden" name="_target_path" value="/account"/> #}
                    <div class="form-group">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button type="submit" class="btn btn-primary btn-lg form-control">ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
