<form method="post" action="{{ path('app_backend_jurisdicciones_delete', {'id': jurisdiccione.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jurisdiccione.id) }}">
    <button class="btn">Delete</button>
</form>
