{% extends 'base.html.twig' %}

{% block title %}Edit Jurisdicciones{% endblock %}

{% block body %}
    <h1>Edit Jurisdicciones</h1>

    {{ include('backend/jurisdicciones/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backend_jurisdicciones_index') }}">back to list</a>

    {{ include('backend/jurisdicciones/_delete_form.html.twig') }}
{% endblock %}
