{% extends 'backend/layout/main.html.twig' %}

{% block title %}User index{% endblock %}
{% block page_title %}User index{% endblock %}
{% block page_description %}...{% endblock %}

{% block page_content %}
    <h1>Jurisdicciones index</h1>

    <table id="juris" class="table  table-striped table-bordered">
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>Clues</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jurisdiccione in jurisdicciones %}
            <tr>
                <td>{{ jurisdiccione.id }}</td>
                <td>{{ jurisdiccione.clues }}</td>
                <td>{{ jurisdiccione.nombre }}</td>
                <td>
                    <a href="{{ path('app_backend_jurisdicciones_show', {'id': jurisdiccione.id}) }}" button type="button" class="btn btn-info fa-sharp fa-solid fa-eye"></a>
                    <a href="{{ path('app_backend_jurisdicciones_edit', {'id': jurisdiccione.id}) }}"button type="button" class="btn btn-primary fa-sharp fa-solid fa-pen-to-square"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backend_jurisdicciones_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ntable.js') }}" type="text/javascript"></script>  
    <script src="{{ asset('js/tabled.js') }}" type="text/javascript"></script>
{% endblock %}