{% extends 'base.html.twig' %}

{% block title %}New Jurisdicciones{% endblock %}

{% block body %}
    <h1>Create new Jurisdicciones</h1>

    {{ include('backend/jurisdicciones/_form.html.twig') }}

    <a href="{{ path('app_backend_jurisdicciones_index') }}">back to list</a>
{% endblock %}
