{% extends 'base.html.twig' %}

{% block title %}Jurisdicciones{% endblock %}

{% block body %}
    <h1>Jurisdicciones</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jurisdiccione.id }}</td>
            </tr>
            <tr>
                <th>Clues</th>
                <td>{{ jurisdiccione.clues }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ jurisdiccione.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_jurisdicciones_index') }}">back to list</a>

    <a href="{{ path('app_backend_jurisdicciones_edit', {'id': jurisdiccione.id}) }}">edit</a>

    {{ include('backend/jurisdicciones/_delete_form.html.twig') }}
{% endblock %}
