<form method="post" action="{{ path('app_backend_ttrabajador_delete', {'id': ttrabajador.id}) }}" onsubmit="return confirm('¿Realmente desea Eliminar esta Categoria del listado?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ttrabajador.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
