{% extends 'backend/layout/main.html.twig' %}

{% block title %}Categorias{% endblock %}
{% block page_title %}Categorias{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <a href="{{ path('app_backend_ttrabajador_new') }}" button type="button" class="btn btn-success">Nuevo</a>
    <h1></h1>
    <table id="categorias" class="table">
        <thead>
            <tr class="table-primary">
                <th>No.</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ttrabajador in ttrabajadors %}
            <tr>
                <td>{{ ttrabajador.id }}</td>
                <td>{{ ttrabajador.tipoTrabajador }}</td>
                <td>
                    <a href="{{ path('app_backend_ttrabajador_show', {'id': ttrabajador.id}) }}" button type="button" class="btn btn-info fa-sharp fa-solid fa-eye"></a>
                    <a href="{{ path('app_backend_ttrabajador_edit', {'id': ttrabajador.id}) }}" bbutton type="button" class="btn btn-primary fa-sharp fa-solid fa-pen-to-square"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Sin registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('js/ntable.js') }}" type="text/javascript"></script>  
    <script src="{{ asset('js/tabled.js') }}" type="text/javascript"></script>
{% endblock %}
