{% extends 'backend/layout/main.html.twig' %}

{% block title %}Categorias{% endblock %}
{% block page_title %}Nueva Categoria{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <h1></h1>

    {{ include('backend/ttrabajador/_form.html.twig') }}

    <a href="{{ path('app_backend_ttrabajador_index') }}" button type="button" class="btn btn-info">volver</a>
{% endblock %}
