{% extends 'backend/layout/main.html.twig' %}

{% block title %}Categorias{% endblock %}
{% block page_title %}Categorias{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <h1>Ttrabajador</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ttrabajador.id }}</td>
            </tr>
            <tr>
                <th>TipoTrabajador</th>
                <td>{{ ttrabajador.tipoTrabajador }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_ttrabajador_index') }}" button type="button" class="btn btn-info">volver</a>
    <a href="{{ path('app_backend_ttrabajador_edit', {'id': ttrabajador.id}) }}" button type="button" class="btn btn-primary">editar</a>

    {{ include('backend/ttrabajador/_delete_form.html.twig') }}
{% endblock %}
