{% extends 'backend/layout/main.html.twig' %}

{% block title %}User Edit{% endblock %}
{% block page_title %}User Edit{% endblock %}
{% block page_description %}...{% endblock %}

{% block page_content %}

    {{ include('backend/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backend_user_index') }}">back to list</a>

    {{ include('backend/user/_delete_form.html.twig') }}
{% endblock %}
