{% extends 'backend/layout/main.html.twig' %}

{% block title %}User index{% endblock %}
{% block page_title %}User index{% endblock %}
{% block page_description %}...{% endblock %}

{% block page_content %}
    <table id="users" class="table" width="100%">
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                
                <td>{{ user.email }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.apellidos }}</td>
                <td>
                    <a href="{{ path('app_backend_user_show', {'id': user.id}) }}" button type="button" class="btn btn-info fa-sharp fa-solid fa-eye"></a>
                    <a href="{{ path('app_backend_user_edit', {'id': user.id}) }}" button type="button" class="btn btn-primary fa-sharp fa-solid fa-pen-to-square"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backend_user_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ntable.js') }}" type="text/javascript"></script>  
    <script src="{{ asset('js/tabled.js') }}" type="text/javascript"></script>
{% endblock %}