{% extends 'base.html.twig' %}
{% block title %}Hello HelloController!{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello
        {% for tur in Turm %}
            <tr>
                <td>{{ tur.turno }}</td>
                <td>{{ tur.unidad.jurisdiccion.nombre }}</td>

            </tr>
            {% else %}
                <tr>
                    <td colspan="16">Sin registros</td>
                </tr>
        {% endfor %}
    <button id="cargar_datos">Obtener Nombres</button>
    <div id="resultado"></div>
</div>
{% endblock %}
