<form method="post" action="{{ path('app_backend_trabajador_delete', {'id': trabajador.id}) }}" onsubmit="return confirm('¿Esta seguro de Eliminar el Registro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trabajador.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
