{{ form_start(form,{'attr':{'autocomplete':'off', 'id': 'trabajador'} }) }}
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.nombre, {'attr':{'placeholder':'Escribra el Nombre o Nombres'}}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.apellidoP, {'attr':{'placeholder':'Escribra el 1er Apellido'}}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.apellidoM, {'attr':{'placeholder':'Escribra el 2do. Apellido'}}) }}
        </div>
    </div>

    
    <div class="row">
        <div class="col-7">
            {{ form_row(form.unidad) }}
        </div>
        <div class="col-5">
            {{ form_row(form.adscripcion, {'attr':{'placeholder':'Escribra la Unidad de Adscripción'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.rfc, {'attr':{'placeholder':'Escribra el RFC'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.curp, {'attr':{'placeholder':'Escribra la CURP'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.codigo) }}
        </div>
        <div class="col-md-8">
            {{ form_row(form.descripcionCodigo) }}
         </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.funcion) }}
        </div>
        <div class="col-md-8">
            {{ form_row(form.cargo) }}
         </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            {{ form_row(form.fechaIngreso) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.correo) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.telefono) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.cedula) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.turno) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.trabajadorTipo) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.perfil) }}
        </div>
    </div>

    {{ form_widget(form) }}
    <div class="col-auto">
        <button class="btn btn-success fa-sharp fa-solid fa-floppy-disk">{{ button_label|default('Guardar') }}</button>
    </div>
{{ form_end(form) }}
