{% extends 'backend/layout/main.html.twig' %}

{% block title %}Editar{% endblock %}
{% block page_title %}Edicion de Trabajador{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <a href="{{ path('app_backend_trabajador_index') }}" button type="button" class="btn btn-info fa-sharp fa-solid fa-rotate-left"></a></button>

    
    {{ include('backend/trabajador/_form.html.twig', {'button_label': 'Actualizar'}) }}
    


    {{ include('backend/trabajador/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '< Ant',
            nextText: 'Sig >',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);


        $(document).ready(function() {
            $("#trabajador_unidad").select2({
                width: '100%',
                placeholder: "Seleccione Unidad de Trabajo",
                allowClear: true
            });

            $("#trabajador_fechaIngreso").datepicker({
                'language': 'es',
                'changeMonth': true,
                'changeYear': true,
                'dateFormat': 'dd/mm/yy',
                'autoclose': true,
                'todayHighlight': true
            });
        });
    </script>
{% endblock %}