{% extends 'backend/layout/main.html.twig' %}
{% block title %}Personal{% endblock %}
{% block page_title %}Departamento de Trabajo Social{% endblock %}
{% block page_description %}Listado de Personal{% endblock %}

{% block page_content %}
    <a href="{{ path('app_backend_trabajador_new') }}" button type="button" class="btn btn-success">Nuevo</a><h2></h2>
    <table id='lista_trabajadores' class="table table-striped table-bordered">
        <thead>
            <tr class="table-success">
                <th>No.</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Jurisdiccion</th>
                <th>Centro de Trabajo</th>
                <th>Adscripcion</th>
                <th>RFC</th>
                <th>CURP</th>
                <th>Turno</th>
                <th>Categoria</th>
                <th>Codigo</th>
                <th>Descripcion del Codigo</th>
                <th>Funcion</th>
                <th>Cargo</th>
                <th>Fecha de Ingreso</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Cedula</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for trabajador in trabajadors %}
            <tr>
                <td></td>
                <td>{{ trabajador.nombre }}</td>
                <td>{{ trabajador.apellidoP }}</td>
                <td>{{ trabajador.apellidoM }}</td>
                <td>{{ trabajador.unidad.jurisdiccion.nombre }}</td>
                <td>{{ trabajador.unidad.nombreUnidad }}</td>
                <td>{{ trabajador.adscripcion }}</td>
                <td>{{ trabajador.rfc }}</td>
                <td>{{ trabajador.curp }}</td>
                <td>{{ trabajador.turno }}</td>
                <td>{{ trabajador.trabajadorTipo }}</td>
                <td>{{ trabajador.codigo }}</td>
                <td>{{ trabajador.descripcionCodigo }}</td>
                <td>{{ trabajador.funcion }}</td>
                <td>{{ trabajador.cargo }}</td>
                <td>{{ trabajador.fechaIngreso ? trabajador.fechaIngreso|date('d/m/Y') }}</td>
                <td>{{ trabajador.correo }}</td>
                <td>{{ trabajador.telefono }}</td>
                <td>{{ trabajador.cedula }}</td>
                <td>
                    <a href="{{ path('app_backend_trabajador_show', {'id': trabajador.id}) }}" button type="button" class="btn btn-info fa-sharp fa-solid fa-eye"></a>
                    <a href="{{ path('app_backend_trabajador_edit', {'id': trabajador.id}) }}" button type="button" class="btn btn-primary fa-sharp fa-solid fa-pen-to-square"></a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            
            $('#lista_trabajadores thead tr')
                .clone(true)
                .addClass( 'filters' )
                .appendTo('#lista_trabajadores thead');
            


            var t = $('#lista_trabajadores').DataTable({

                dom: 'Bfrtip',
                buttons: [
                    'excel','print'
                ],

                
                scrollY: 350,
                scrollX: true,
                scrollColapse: true,

                paging: true,
                //responsive: true,
                /*fixedColumns: {
                    left: 1,
                    right: 1
                },*/

                orderCellsTop: true,
                fixedHeader: true,
                
                
                initComplete: function(){
                    var api = this.api();

                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx){
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            if ($(api.column(colIdx).header()).index() >= 1 && $(api.column(colIdx).header()).index() < 19) {
                                $(cell).html('<input type="text" placeholder="'+ title + '" />');
                            }

                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                            .off('keyup change')
                            .on('change', function (e){
                                $(this).attr('title',$(this).val());
                                var regexr = '({search})';
                                var cursorPosition = this.selectionStart;

                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value != ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function(e){
                                var cursorPosition = this.selectionStart;
                                e.stopPropagation();
                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                        });
                },
                

                
                

                columnDefs: [
                    {
                        searchable: false,
                        orderable: false,
                        targets: 0,
                         width: '20%',
                    },
                ],
                
                order: [[1, 'asc']],
                
                /*columnDefs: [
                    { responsivePriority: 1, targets: 0 },
                    { responsivePriority: 2, targets: -1 }
                ],*/
                
                

                "language": {
                    "emptyTable":   "Sin Registros Encontrados",
                    "info": "Mostrando Registros del _START_ al _END_ de un Total de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "search": "Buscar:",
                    "zeroRecords":  "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }       
            
            
            }); //FIN DE DATATABLES

            t.on('order.dt search.dt', function () {
                let i = 1;
                t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();

        });//FIN DE DOCUMENT

        
    </script>
{% endblock %}