{% extends 'backend/layout/main.html.twig' %}

{% block title %}Ver Trabajador{% endblock %}
{% block page_title %}Datos de Trabajador{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <h1></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trabajador.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ trabajador.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido Paterno</th>
                <td>{{ trabajador.apellidoP }}</td>
            </tr>
            <tr>
                <th>Apellido Materno</th>
                <td>{{ trabajador.apellidoM }}</td>
            </tr>
            <tr>
                <th>Municipio</th>
                <td>{{ trabajador.unidad.municipio.nombreMunicipio }}</td>
            </tr>
            <tr>
                <th>Jurisdicción</th>
                <td>{{ trabajador.unidad.jurisdiccion.nombre }}</td>
            </tr>
            <tr>
                <th>Unidad de Trabajo</th>
                <td>{{ trabajador.unidad.nombreUnidad }}</td>
            </tr>
            <tr>
                <th>Adscripcion</th>
                <td>{{ trabajador.adscripcion }}</td>
            </tr>
            <tr>
                <th>RFC</th>
                <td>{{ trabajador.rfc }}</td>
            </tr>
            <tr>
                <th>CURP</th>
                <td>{{ trabajador.curp }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ trabajador.codigo }}</td>
            </tr>
            <tr>
                <th>DescripcionCodigo</th>
                <td>{{ trabajador.descripcionCodigo }}</td>
            </tr>
            <tr>
                <th>Funcion</th>
                <td>{{ trabajador.funcion }}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>{{ trabajador.cargo }}</td>
            </tr>
            <tr>
                <th>Turno</th>
                <td>{{ trabajador.turno }}</td>
            </tr>
            <tr>
                <th>FechaIngreso</th>
                <td>{{ trabajador.fechaIngreso ? trabajador.fechaIngreso|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ trabajador.correo }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ trabajador.telefono }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ trabajador.cedula }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_trabajador_index') }}" button type="button" class="btn btn-info fa-sharp fa-solid fa-rotate-left"></a>

    <a href="{{ path('app_backend_trabajador_edit', {'id': trabajador.id}) }}" button type="button" class="btn btn-primary fa-sharp fa-solid fa-pen-to-square"></a>

    {{ include('backend/trabajador/_delete_form.html.twig') }}
{% endblock %}