{% extends 'base.html.twig' %}

{% block title %}Edit Municipios{% endblock %}

{% block body %}
    <h1>Edit Municipios</h1>

    {{ include('backend/municipios/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backend_municipios_index') }}">back to list</a>

    {{ include('backend/municipios/_delete_form.html.twig') }}
{% endblock %}
