{% extends 'backend/layout/main.html.twig' %}

{% block title %}Municipios{% endblock %}
{% block page_title %}{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <h1>Municipios</h1>

    <table id='municipios' class="table">
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>NombreMunicipio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for municipio in municipios %}
            <tr>
                <td>{{ municipio.id }}</td>
                <td>{{ municipio.nombreMunicipio }}</td>
                <td>
                    <a href="{{ path('app_backend_municipios_show', {'id': municipio.id}) }}" button type="button" class="btn btn-info fa-sharp fa-solid fa-eye"></a>
                    <a href="{{ path('app_backend_municipios_edit', {'id': municipio.id}) }}" button type="button" class="btn btn-primary fa-sharp fa-solid fa-pen-to-square"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backend_municipios_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ntable.js') }}" type="text/javascript"></script>  
    <script src="{{ asset('js/tabled.js') }}" type="text/javascript"></script>
{% endblock %}