{% extends 'base.html.twig' %}

{% block title %}New Municipios{% endblock %}

{% block body %}
    <h1>Create new Municipios</h1>

    {{ include('backend/municipios/_form.html.twig') }}

    <a href="{{ path('app_backend_municipios_index') }}">back to list</a>
{% endblock %}
