{% extends 'base.html.twig' %}

{% block title %}Municipios{% endblock %}

{% block body %}
    <h1>Municipios</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ municipio.id }}</td>
            </tr>
            <tr>
                <th>MunicipioPais</th>
                <td>{{ municipio.municipioPais }}</td>
            </tr>
            <tr>
                <th>NombreMunicipio</th>
                <td>{{ municipio.nombreMunicipio }}</td>
            </tr>
            <tr>
                <th>Siglas</th>
                <td>{{ municipio.siglas }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_municipios_index') }}">back to list</a>

    <a href="{{ path('app_backend_municipios_edit', {'id': municipio.id}) }}">edit</a>

    {{ include('backend/municipios/_delete_form.html.twig') }}
{% endblock %}
